body,html{
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
span{
    user-select: none;
}
.item{
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;

}
.item.disabled {
    background-color: #e5e5e5;
    color: #999;
    cursor: not-allowed;
}
.item.active{
    border: none;
    color: #f40;
}